body
{
    text-align: center;
}

#app {
    background-color: aliceblue;
}

#myCarrossel
{
    background-color: rgb(147, 24, 24);
}

#myCarousel img
{
    height: 350px;
    margin-top: 35px;
}

.carousel-inner p
{
    margin-top: 15px;
    color : white;
    font-size: 20px;
}
